<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>新增图书</title>
    <!-- Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <style type="text/css">
        * {
            margin: 0;
            padding: 0;
        }
        body {
            width: 100%;
            height: 100%;
            background-image: url(../img/book1.png);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-attachment: fixed;
            background-position: center;
        }
    </style>
</head>
<body>
    <br/><br/>
    <div class="container">
        <form th:action="@{/book/addBook}" th:method="post">

            <div class="form-group has-success col-lg-8">
                <label class="control-label" for="inputSuccess">图书名称</label>
                <input th:type="text" th:name="bookName" class="form-control" id="inputSuccess" required/>
            </div>

            <div class="form-group has-success col-lg-8">
                <label class="control-label" for="inputSuccess">图书数量</label>
                <input th:type="text" th:name="bookCount" class="form-control" required/>
            </div>

            <div class="form-group has-success col-lg-8">
                <label class="control-label" for="inputSuccess">图书简介</label>
                <input th:type="text" th:name="bookDetail" class="form-control" required/>
            </div>

            <div class="form-group col-lg-8">
                <input th:type="submit" th:value="确认新增" class="form-group form-control btn-info" style="width: 360px;height: 35px;float: left"/>
            </div>

        </form>
        <button class="btn btn-danger col-lg-4" th:onclick="goBack()" style="width: 365px;height: 35px;position: absolute;margin-left: -380px;top: 262px">撤销操作</button>
    </div>
    <script type="text/javascript">
        function goBack() {
            window.location.href='/springboot_crud/book/home';
        }
    </script>
</body>
</html>